/* Search */
.searchBox
{
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #1b1b1b;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}
.visually-hidden {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.searchBox .searchInput{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 600px){
 .searchBox{
    width: 92%;
  }
}